<h3 class="section-title">Multimedia</h3>
<div class="tile-row">
  <mik-tile title="Vidka Video Editor" uiSref="proj.vidka" image="assets/thumbs/Screenshot-vidka.jpg"></mik-tile>
  <mik-tile title="Image Harvester" uiSref="proj.image-harvester" image="assets/thumbs/Screenshot-image-harvester.jpg"></mik-tile>
  <mik-tile title="Image Animator" uiSref="proj.image-animator" image="assets/thumbs/Screenshot-image-animator-TILTED.jpg"></mik-tile>
  <!-- <mik-tile title="" url="" image=""></mik-tile> -->
</div>

<h3 class="section-title">HTML5 Games</h3>
<div class="tile-row">
  <mik-tile title="Nioptesa" url="/nioptesa" image="assets/thumbs/Screenshot-nioptesa.jpg"></mik-tile>
  <mik-tile title="Slingshot" url="/slingshot" image="assets/thumbs/Screenshot-slingshot.jpg"></mik-tile>
  <!-- <mik-tile title="" url="" image=""></mik-tile> -->
</div>

<h3 class="section-title">Misc utility apps</h3>
<div class="tile-row">
  <mik-tile title="Text-to-speech Browser" uiSref="proj.tts-browser" image="assets/thumbs/Screenshot-tts-browser-thumb.jpg"></mik-tile>
  <mik-tile title="Text-to-speech Utility" uiSref="proj.tts-utility" image="assets/thumbs/Screenshot-tts-utility-thumb.jpg"></mik-tile>
  <mik-tile title="Audiobooker" uiSref="proj.audio-booker" image="assets/thumbs/Screenshot-audio-booker.png"></mik-tile>
  <!-- <mik-tile title="" url="" image=""></mik-tile> -->
</div>

<!-- <markdown>
</markdown> -->